/*Variables*/
$bkg-color-box-a: #FAFAFA;
$bkg-color-box-b: #ffffff;
$color-primary: #fdb913;
$color-secondary: #007cc9;
$color-slider-1: #00bfeb;
$color-slider-2: #006cb7;
$color-slider-3: #f7941e;
$color-slider-4: #6dbe4b;
$color-slider-5: #662e8f;

/*Cierre variables*/